/* src/App.css */

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: black;
  color: white;
}

h1, h2, h3 {
  color: #f39c12;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
