/* src/components/Navbar.css */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: black;
  color: white;
}

.navbar-logo {
  font-size: 24px;
}

.navbar-links {
  display: flex;
  gap: 20px; 
}

.navbar-links a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

.navbar-links a:hover {
  color: #ffcc00; 
}
